@import "tailwindcss";

body {
  background-color: #13171a;
  scrollbar-width: none;
  overflow-x: hidden;

  -ms-overflow-style: none; /* Esconde a barra de rolagem do IE/Edge */
}
body::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

@font-face {
  font-family: BHHBogle;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/BBHBogle-Regular.ttf") format("woff2");
}
