@import "tailwindcss";

body {
  background-color: #13171a;
  scrollbar-width: none;
  overflow-x: hidden;

  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: BHHBogle;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/assets/BBHBogle-Regular.ttf") format("woff2");
}

.animate-marquee {
  will-change: transform;
  animation: marquee 40s linear infinite;
}
@theme {
  --animate-marquee: marquee 25s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    } /* Move exatamente uma 'unidade' da lista triplicada */
  }
}
